-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ppms
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notification` (
  `notificationID` int(11) NOT NULL AUTO_INCREMENT,
  `MatricNumber` varchar(20) NOT NULL,
  `TrackingNumber` varchar(50) DEFAULT NULL,
  `notificationType` varchar(50) DEFAULT NULL,
  `messageContent` text DEFAULT NULL,
  `sentTimestamp` datetime DEFAULT NULL,
  `notificationStatus` varchar(50) DEFAULT NULL,
  `isRead` tinyint(1) DEFAULT 0,
  `deliveryMethod` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`notificationID`),
  KEY `TrackingNumber` (`TrackingNumber`),
  KEY `MatricNumber` (`MatricNumber`),
  CONSTRAINT `notification_ibfk_1` FOREIGN KEY (`MatricNumber`) REFERENCES `receiver` (`MatricNumber`),
  CONSTRAINT `notification_ibfk_2` FOREIGN KEY (`TrackingNumber`) REFERENCES `parcel` (`TrackingNumber`)
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parcel`
--

DROP TABLE IF EXISTS `parcel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parcel` (
  `TrackingNumber` varchar(50) NOT NULL,
  `MatricNumber` varchar(20) NOT NULL,
  `date` date DEFAULT NULL,
  `time` time DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `addedBy` varchar(20) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `deliveryLocation` varchar(100) DEFAULT NULL,
  `QR` text DEFAULT NULL,
  `qr_verification_data` longtext DEFAULT NULL,
  `weight` decimal(8,2) DEFAULT NULL,
  PRIMARY KEY (`TrackingNumber`),
  KEY `MatricNumber` (`MatricNumber`),
  CONSTRAINT `parcel_ibfk_1` FOREIGN KEY (`MatricNumber`) REFERENCES `receiver` (`MatricNumber`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parcel`
--

LOCK TABLES `parcel` WRITE;
/*!40000 ALTER TABLE `parcel` DISABLE KEYS */;
/*!40000 ALTER TABLE `parcel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_type` enum('staff','receiver') NOT NULL,
  `user_id` varchar(20) NOT NULL,
  `token` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `used` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `idx_token` (`token`),
  KEY `idx_user_type_id` (`user_type`,`user_id`),
  KEY `idx_expires_at` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
INSERT INTO `password_reset_tokens` VALUES (1,'receiver','010401150099','7a6797570e73a2b64cb92940a82d6665aea7a144c7f528ddf2e6f81d7c3f56f5','2025-06-25 20:44:00',0,'2025-06-25 17:44:00');
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receiver`
--

DROP TABLE IF EXISTS `receiver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `receiver` (
  `MatricNumber` varchar(20) NOT NULL,
  `name` varchar(100) NOT NULL,
  `phoneNumber` varchar(20) NOT NULL,
  `password` varchar(255) NOT NULL,
  `notificationID` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`MatricNumber`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receiver`
--

LOCK TABLES `receiver` WRITE;
/*!40000 ALTER TABLE `receiver` DISABLE KEYS */;
INSERT INTO `receiver` VALUES ('010401150077','Isz','+601115895851','$2y$10$5SRZtXcmTaULpVcyiJWhSOiJ2Pcr7/1/X.Mlv.u16bGGiJU2xv.Qu',NULL),('010401150099','Mikail','+601115895859','$2y$10$7fChdst60v9OCRZrhd1svu92fYjJYZpmPWchFvN9fg6jDt16RSCQC',NULL),('444444444444','Madara','0193122525','$2y$10$m/IpHxiOJgpZUtVV.x1oIuVGxD78CHcOVM5bQE1Cit/LiStwd/IrO',NULL),('CI110022','Humairah Adinda','+60193443628','$2y$10$a7VQObT15RuCxK89kmm6Gu.AF4FEcFt4gE27NlXVWVL5kiAcibzB.',NULL),('DI230100','Abu','+601336699800','$2y$10$F/k1wgDOSCTG6v3hTqlsieSEH7mV/atJMFZ8K0vIu38rnoq0rTxU.',NULL);
/*!40000 ALTER TABLE `receiver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `retrievalrecord`
--

DROP TABLE IF EXISTS `retrievalrecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `retrievalrecord` (
  `RetrievalID` int(11) NOT NULL AUTO_INCREMENT,
  `trackingNumber` varchar(50) NOT NULL,
  `MatricNumber` varchar(20) NOT NULL,
  `staffID` varchar(20) DEFAULT NULL,
  `retrieveDate` date DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `retrieveTime` time DEFAULT NULL,
  PRIMARY KEY (`RetrievalID`),
  KEY `trackingNumber` (`trackingNumber`),
  KEY `staffID` (`staffID`),
  KEY `MatricNumber` (`MatricNumber`),
  CONSTRAINT `retrievalrecord_ibfk_1` FOREIGN KEY (`trackingNumber`) REFERENCES `parcel` (`TrackingNumber`),
  CONSTRAINT `retrievalrecord_ibfk_2` FOREIGN KEY (`MatricNumber`) REFERENCES `receiver` (`MatricNumber`),
  CONSTRAINT `retrievalrecord_ibfk_3` FOREIGN KEY (`staffID`) REFERENCES `staff` (`staffID`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `retrievalrecord`
--

LOCK TABLES `retrievalrecord` WRITE;
/*!40000 ALTER TABLE `retrievalrecord` DISABLE KEYS */;
/*!40000 ALTER TABLE `retrievalrecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff` (
  `staffID` varchar(20) NOT NULL,
  `role` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `phoneNumber` varchar(20) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`staffID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
INSERT INTO `staff` VALUES ('0105','Staff','Soloz Alfonso','','$2y$10$/ukobobdmfETZeru60hW3O9LvLho2RIGlge3eZP73lwvzJsjbigc6'),('5565','Staff','Michael Angelo','','$2y$10$7.2pvgQzOVxFyinC9cTicuYTa4xeaIa6X0HEf/hHwOvjjAWcmrus6');
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-16 19:07:03
